@import '../../responsive.scss';

.content{
    padding: 32px;
    margin-top: 4rem;
    margin-bottom: 8rem;

    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 192px;

    @include xs{
        padding: 16px;
        margin-top: 0px;
        margin-bottom: 64px;
        gap: 84px;
    }
}