@import '../../responsive.scss';

.navbar{
    display: flex;
    justify-content: space-between;
    // padding-top: 32px;
    // padding-bottom: 12px;
    padding: 32px 12px 12px 12px;
    border-bottom: 1px solid black;
    
    .colorband{
        width: 6px;
        height: 100%;
        background: linear-gradient(blue,green);
    }

    .left{
        padding: 2px;
        display: flex;
        gap: 12px;
        align-items: center;
    }
    
    .options{
        &:hover{
            scale: 1.05;
        }
    }

    .right{
        display: flex;
        gap: 32px;

        .git,.darkmode{
            &:hover{
                scale: 1.25;
            }
        }
    }

    @include sm{
        font-size: 18px;
    }

    @include xs{
        .right{
            // &:nth-child(1){
            //     display: none;
            // }
            // display: none;
            .hide{
                display: none;
            }
        }
    }
}