@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap';
@import './responsive.scss';

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

#contact{
    margin-bottom: 24px;
}

.app{
    // background-color: lightblue;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;

    .footer{
        margin-top: 256px;
        
    }
    
    @include sm{
        // width: 100vw;
        background-color: red;
    }




}
